detsizechan 1024 512 
#detector geometry, long side of the module first
hostname eigerpsi1+eigerpsi2+
#1Gb detector hostname for controls

0:rx_tcpport 1991 
#tcpport for the first halfmodule                 
0:rx_udpport 50011 
#udp port first quadrant, first halfmodule       
0:rx_udpport2 50012 
#udp port second quadrant, first halfmodule       
#first half module 10 Gb IP 
0:detectorip 172.22.29.11
#udp IP of the receiver over 10Gb, 
0:rx_udpip 172.22.29.10
#can be the same or different from 0:rx_udpip                                   

1:rx_tcpport 1993 
#tcpport for the second halfmodule                  
1:rx_udpport 50013 
#udp port first quadrant, second halfmodule     
1:rx_udpport2 50014 
#udp port second quadrant, second halfmodule  
1:rx_udpip 172.22.30.10
#udp IP of the receiver over 10Gb              
1:detectorip 172.22.30.11
#second half module 10 Gb IP 
1:flippeddatax 1

#1Gb receiver pc hostname
rx_hostname   srv-eiger1

tengiga 1
vhighvoltage 150
#outdir /work/eigerdata
outdir /tmp
threaded 1

#settingsdir /home/nanoscopium/eiger_control
#settingsdir /home/ica/Eiger/UpdateEiger4.0.1/slsDetectorPackage/settingsdir/eiger
settingsdir /home/ica/Eiger/DeviceEiger-23-05-19/DeviceSources/Lima/camera/slseiger/slsDetectorPackage/settingsdir/eiger

trimen  10 3300 4500 5400 6400 8000 9900 15700 17500 22200 25300  
settings standard
